@mixin textFormat {
    text-align: center;
    text-decoration: none;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 245);
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

/* HEADER Y SUS DERIVANTES */

header {
    width: 100%;
    height: 7%;
    background-color: white;
    border-bottom: solid gray 0.01em;
    margin-top: auto;
    
    
    
    
}


nav {
    display: flex;
    justify-content: row;
    width: 100%;
    height: 100%;
    align-items: center;
     
    
    

}

.div-izq {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    width: 30%;
    height: 100%;
    padding-left: 10%;
    
}

.div-der {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 100%;
    padding-left: 15%;
}


.imgcontainer {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.logoimg {
    width:50%;
    border-radius: 0.5em;
    border: solid black;
    display: flex;
    
    
    
}

input {
    width: 100%;
    height: 100%;
    border: solid rgb(250, 245, 245) ;
    border-radius: 0.5em;

}

.div-der div a {
    @include textFormat()
}

.searchBar{
    width: 90%;
    height: 70%;
}

button {
    width: 100%;
    background-color: white;
    color: blue;
    margin: auto;
    border-radius: 0.5em;
    border: solid blue;
}

.containerComm {
   
    width: 100%;
    border: solid lightgrey 0.01px; 
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;
    
} 

.botonterco {
    width: 30%;
}

.communityLog {
    width: 100%;
    display: flex;
    text-align: center;
    display: block;
}

.espacioComm {
    margin: 0.2em;
    padding: 0.2em;
    text-align: center;
}

.listitems {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    
}

.sidenav {
    text-decoration: none;
    color: black;
    /* margin-bottom: 10%; */
}

li {
    list-style-type: none;
    margin-bottom: 10%;
    width: 100%;
}
ul {
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    width: 19%;
    margin-top: 10px;

}

section{
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap; 
     width: 90%;
    
}


.mainnav {
    display: flex;
    flex-direction: row;
    width: 40%;
    
    justify-content: space-around;

}

main{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0 10px;
}

.articlepic{
    width: 290px;
    
    
}

svg {
    height: 15%;
    width: 15%;
    display: flex;
    align-items: center;
 
}



div{
    ul{
        width: 100%;
    }

    li{
        display: flex; 
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    a{
        height: 100%;
        align-items: center;
        margin-bottom: none;
        padding-left: 1px;
    }
}

svg {
    padding-right: 1px;
}

main{
    nav{
        margin-top: 10px;
    }
}